.SA-portfolio-view {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #F5EFE7;
	min-height: 100vh;
	overflow-y: auto;
}

.SA-portfolio-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	margin: 0;
	padding: 0;
	color: #213555;
	gap: 0;
}
.SA-portfolio-label-title {
	text-shadow: 1px 1px 1px #3E5879;
}
.SA-portfolio-totalvalue {
	text-shadow: 1px 1px 1px #3E5879;
}
.SA-portfolio-info h1 {
	margin: 0;
	padding: 0;
}
.SA-portfolio-info h2 {
	margin: 0;
	padding: 0;
}
.SA-return-link {
	color: #3E5879;
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	margin-right: 30px;
	text-decoration: underline;
}
.SA-return-link:hover {
	color: #D8C4B6;
}

.SA-return-link a {
	color: #3E5879;
	margin: 0;
}
.SA-portfolio-table, .SA-smart-adjust-table {
  box-shadow: 0px 0px 5px #3E5879;
}
td a {
	color: #3E5879;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0;
	overflow-x: auto;
}

th, td {
	padding: 10px;
	text-align: center;
	border: 1px solid #3E5879;
}

th {
 	background-color: #213555;
 	color: white;
}
td {
	background-color: #D8C4B6;
	color: #3E5879;
}
.SA-smart-adjust-info {
	color: #213555;
}
.SA-smart-adjust-info h2 {
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 1px #3E5879;
}
.SA-smart-adjust-info h4 {
	margin: 0;
	padding: 0;
}
.SA-smart-adjust-info p {
	margin: 0;
	padding: 0;
}

.SA-smart-adjust-button {
	background-color: #213555;
	color: #F5EFE7;
	padding: 5px 8px;
	box-shadow: 1px 1px 2px #3E5879;
	margin-left: auto;
	margin-right: auto;
	transition: background-color 0.5s ease, color 0.5s ease;
}
.SA-smart-adjust-button:hover {
	background-color: #F5EFE7;
	color: #213555;
	border-color: #213555;
}
.SA-delete-button {
	background-color: #3E5879;
	color: #D8C4B6;
	box-shadow: 1px 1px 2px #213555;
	transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
.SA-delete-button:hover {
	background-color: #D8C4B6;
	color: #3E5879;
	border-color: #3E5879;
}
.positive {
	color: green;
}
.negative {
	color: red;
}